[Unit]
Description=Midwife-EMR Support Service
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=60
Environment=AUTOSSH_PIDFILE=/var/run/midwife-emr-support.pid
Environment=AUTOSSH_POLL=300
Environment=AUTOSSH_FIRST_POLL=300
Environment=AUTOSSH_GATETIME=0
Environment=AUTOSSH_DEBUG=1
Environment=AUTOSSH_PORT=0
Environment=REMOTE_HOST={{ midwife_emr_support_remote_host }}
Environment=REMOTE_PORT={{ midwife_emr_support_remote_port }}
Environment=REMOTE_FORWARDING_PORT={{ midwife_emr_support_forwarding_port }}
ExecStart=
ExecStart=/usr/local/bin/autossh -N -p ${REMOTE_PORT} -l midwife-emr-support -o "ServerAliveInterval 20" -o "ServerAliveCountMax 3" -o "BatchMode yes" -o "StrictHostKeyChecking no" -i /root/.ssh/midwife-emr-support -R ${REMOTE_FORWARDING_PORT}:localhost:22 ${REMOTE_HOST}
