# Midwife-EMR
# This forces all ODroid Wifi Module 3 (Realtek RTL8188CUS-GR) wifi
# modules attached via USB to be mapped to the same network interface,
# namely wlan0. This allows the user the ability to replace the wifi
# module and the system will still work since everything is keyed off
# of the wlan0 interface.
#
# Note: should more than one wifi module be plugged in at once, it
# will actually be renamed anyway to something like "rename8". The
# first one will be used only.

# USB device 0x:0x (rtl8192cu)
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="7c:dd:90:*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
